<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <!-- Import common configs (works in both FIPS and non-FIPS) -->
    <import file="config-common.xml" />

    <!-- Import FIPS configs (BCFKS keystore) -->
    <import file="config-fips.xml" />

    <!--
    NOTE: config-jks.xml is NOT imported here to prevent JKS initialization failures in FIPS mode.

    Tests that need JKS configs must:
    1. Import config-jks.xml explicitly in their test suite
    2. Mark the suite with ignore="${fips.ignore.non.compliant.tests}"

    Example: TlsOperationsTestCase.xml imports config-jks.xml and is skipped in FIPS
    -->

</mule>
